p{
    color: blue;
    background-color: black;
   text-align: center;
}
#mia{
    align-items:center ;
}
h2:hover{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    
}
img{
    height: 30%;
    width: 30%;
    size: 0cqmax;
}